<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1" />
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<title>Insert title here</title>
</head>
<body>

<div class="container mt-3">

    <div th:replace="~{fragments/header :: header(home)}"></div>
    
     <div class="row mt-3">
		
		<div th:replace="~{fragments/sidebar :: sidebar(summary)}"></div>


			<div class="col">
				<!-- Dropdown menu for year selection -->
				<div class="form-group col-lg-4">
					<label for="year-select">Select Year:</label> <select
						class="form-control year-select mb-5" id="year-select">
						<option>2023</option>
						<option>2022</option>
						<option>2021</option>
					</select>
				</div>

				<!-- Expense summary table -->
				
				 <div class="table-responsive mt-3">
				<table class="table table-striped ">
					<thead>
						<tr>
							<th>Expenses</th>
							<th class="text-right">Amount</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Total Expense</td>
							<td class="text-right">$100</td>
						</tr>
						<tr>
							<td>Grocery</td>
							<td class="text-right">$100</td>
						</tr>
						<tr>
							<td>Restaurant</td>
							<td class="text-right">$100</td>
						</tr>
						<tr>
							<td>Clothes</td>
							<td class="text-right">$100</td>
						</tr>
						<tr>
							<td>Transportation</td>
							<td class="text-right">$100</td>
						</tr>
					</tbody>
				</table>
			</div>
			
		</div>
   
   
   
   </div>
</div>
  
  
  <div th:replace="~{fragments/header :: scripts}"></div>

</body>
</html>